{% extends 'index.html' %}
{% load static %}
 {% block navigation %}
    <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="{% url 'ListaTejidos' %}">Tejidos</a>
                <a class="navbar-brand" href="{% url 'ListaHilados' %}">Hilados</a>
                <a class="navbar-brand" href="{% url 'ListaAccesorios' %}">Accesorios</a>
                {% if user.is_authenticated %}
                    <img src="{{user.avatar.imagen.url}}" alt="" height="100px">
                    <a class="btn btn-primary" href="{% url 'Logout' %}">Logout</a>
                {% else %}
                    <a class="btn btn-primary" href="{% url 'Login' %}">Login</a>
                {% endif %}
            </div>
        </nav>
        {% endblock %}
{% block masthead %}

<h2>Eliminar Tejido</h2>
<form method="post">
{% csrf_token %}
Estás por eliminar {{object.nombre}}, ¿estás seguro?
    <input class="btn btn-primary" type="submit" value="Eliminar">
</form>
<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h1 class="mb-5">¡Descubrí los mejores modelos para tejer y compartí tus proyectos!</h1>
                    <!-- Signup form-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- * * SB Forms Contact Form * *-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- This form is pre-integrated with SB Forms.-->
                    <!-- To make this form functional, sign up at-->
                    <!-- https://startbootstrap.com/solution/contact-forms-->
                    <!-- to get an API token!-->

                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
  {% block footer %}
                <footer class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item"><a href="#!">About</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Contact</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Terms of Use</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Privacy Policy</a></li>
                        </ul>
                        <p class="text-muted small mb-4 mb-lg-0">&copy; Natalia C. Aquino. All Rights Reserved.</p>
                    </div>
                    <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item me-4">
                                <a href="#!"><i class="bi-facebook fs-3"></i></a>
                            </li>
                            <li class="list-inline-item me-4">
                                <a href="#!"><i class="bi-twitter fs-3"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!"><i class="bi-instagram fs-3"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        {% endblock %}