        <section class="call-to-action text-white text-center" id="signup">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <a class="col-xl-6">
                        <h2 class="text-center text-white">No te pierdas la oportunidad de formar parte de esta comunidad!</h2>


                            <div class="container">
                                <a class="btn btn-primary btn-lg disabled"  href="{% url 'Register' %}">Regístrate</a>



                    </div>
                </div>
            </div>
        </section>