{% load static %}
<nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="{% url 'ListaTejidos' %}">Tejidos</a>
                <a class="navbar-brand" href="{% url 'ListaHilados' %}">Hilados</a>
                <a class="navbar-brand" href="{% url 'ListaAccesorios' %}">Accesorios</a>
                <a class="navbar-brand" href="#!">Acerca de Mí</a>
                <a class="btn btn-primary" href="#signup">Cerrar Sesión</a>
            </div>
        </nav>