{% load static %}
        <section class="testimonials text-center bg-light">
            <div class="container">
                <h2 class="mb-5">Lo que dicen nuestros miembros...</h2>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="{% static 'assets/img/testimonials-1.jpg' %}" alt="..." />
                            <h5>Micaela</h5>
                            <p class="font-weight-light mb-0">"Los proyectos son hermosos! Me encantan!"</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="{% static 'assets/img/testimonials-2.jpg' %}" alt="..." />
                            <h5>Fernando</h5>
                            <p class="font-weight-light mb-0">"Esta página fue una sorpresa agradable al momento de comenzar a tejer."</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="{% static 'assets/img/testimonials-3.jpg' %}" alt="..." />
                            <h5>Sara</h5>
                            <p class="font-weight-light mb-0">"Siempre vengo a esta página a inspirarme!"</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>